* {
  box-sizing: border-box;
}
.main-content{
	width:900px;
	height: 650px;
	position: relative;
}
.main-content.test{
	background: url(diagram.jpg) no-repeat;
	background-position: 0px -200px;
}
.zero{
	position: absolute;
	background: green;
}
.axis{
	height:0px;
	border-bottom:1px solid #ccc;
	position: absolute;
}
.axis-scale-points{
	background: white;
	color: blue;
	font-size: 10px;
	position: absolute;
	z-index: +10;
}
.area-name{
	position: absolute;
	border: 1px solid #ccc;
	padding:5px;
	color: #999;
	font-size: 12px;
	width:auto;	
}
.exam-point{
	position: absolute;
	background: red;
	color:white;
	z-index: 20;
	text-align: center;
}
.titles{
	font-size: 14px;
	color:black;
}
.titles h1 {
	color: #990000;
}
.results{
	width:auto;
	font-size: 70%;

}
.results tr:nth-child(2n+1) td{
	background: #f1f1f1;
}
.results tr:first-child td{
	background: #ccc;
}