#chartdiv {
	width	: 100%;
	height	: 500px;
}	

.main-content{
	height: 650px;
	position: relative;
}

.zero{
	position: absolute;
	background: #009900;
}
.axis{
	height:0px;
	border-bottom:1px solid #ccc;
	position: absolute;
}
.axis-scale-points{
	background: white;
	color: #000099;
	font-size: 10px;
	position: absolute;
	z-index: +10;
}
.area-name{
	position: absolute;
	border: 1px solid #ccc;
	padding:5px;
	color: #999;
	width:150px;	
	font-size: 12px;
}
.exam-point{
	position: absolute;
	background: #990000;
	color:white;
	z-index: 20;
	text-align: center;
}
.titles{
	font-size: 14px;
	color:black;
}
.titles h1 {
	color: #990000;
}

.results thead tr{
	background: #999;
	color: white;
}